// Global variables for the application

$text-color: #000a0e;
$background-color: #f4f6f9;
$primary-color: #3AAEE0;
$secondary-color: #B9CD24;
$secondary-variant-color: #e87308;
$label-color: #687386;
$danger-color: #d92d20;
$danger-color-variant: #b42318;
$warning-color: #b54708;
$success-color: #027a48;
$white: #ffffff;

$app-font: 'AppFont', sans-serif;
$app-font-bold: 'AppFontBold', sans-serif;

$card-border: 1px solid #dce1e8;
$input-border: 1px solid #bdc6d3;
$border-default: 1px solid #e4e7ec;