@font-face {
  font-family: 'AppFont';
  src: url('../../assets/fonts/Hornet-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AppFontBold';
  src: url('../../assets/fonts/Hornet-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}